* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scrollbar-width:thin;
    scrollbar-color: rgb(2, 247, 88) rgb(0, 0, 0);
}

.split-page {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.left {
    background-image: url(./assets/darya-tryfanava-d55fhArDES0-unsplash.jpg);
    background-color: #022302d2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.logo-container {
    margin: 3em 2em 0 4em;
}

.logo {
    width: 3em;
}

h1 {
    color: #b0c12f98;
    font-size: 1em;
    margin: 0 4em;
}

.first-text-container {
    width: 30%;
    margin: .1em 2.1em;
    letter-spacing: 1px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.second-text-container {
    margin: 0 3em;
    padding: 0 1em;
}

.second-text {
    color: rgba(255, 255, 255, 0.621);
    font-size: .7em;
}

.errorUsername,
.errorPassword {
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: .5em 0 0 3.9em;
}

.btn {
    background-color: #ffffff42;
    font-size: 13px;
    backdrop-filter: blur(1px);
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    border: 2px solid #ffffffa4;
    padding: .4em;
    display: flex;
    gap: .3em;
}

.right {
    background-color: rgb(208, 216, 220);
}

.login {
    border: none;
    background-color: rgb(242, 241, 241);
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 5em 5em 0;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 1px 1px 4px 3px #17161618;
}

.details {
    font-size: .5em;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.708);
}

legend {
    font-weight: bold;
    margin-bottom: .6em;
    font-size: .8em;
    margin-left: 0;
}

label {
    font-weight: bold;
    font-size: .6em;
    margin: 12em 0 3em 1em;
}

input {
    display: flex;
    flex-direction: column;
    padding: .3em 1em;
    border: 1px solid rgba(0, 0, 0, 0.34);
    margin: 0 0 1em 1em;
    outline: rgba(0, 0, 0, 0.34) .1px solid;
    font-size: 10px;
}

input,
.submit {
    width: 15rem;
    border-radius: .5em;
}

.submit {
    background-color: #065606;
    color: #ffff;
    font-weight: bold;
    border: none;
    padding: .5em;
    cursor: pointer;
    margin: .6em 0 .6em .8em;
}

.submit:hover {
    background-color: #176117;
    transition: .5s ease-in-out;
}

.errorUsername,
.userNameLength,
.errorPassword,
.passwordNameLength {
    margin-left: 1em;
    font-size: .6em;
    display: none;
    color: red;
    font-weight: bold;
}

.loginMessage {
    position: fixed;
    right: 0;
    left: 43.3em;
    top: 21em;
    background-color: rgb(25, 156, 53);
    border-radius: .4em;
    width: 13%;
    padding: .5em;
    text-align: center;
    margin: 2em;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.256);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}

.login-message {
    font-weight: bold;
    font-size: .1em;
    color: #fff;
}

.loginMessage.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 555px) {
    .split-page {
        display: flex;
        flex-direction: column;
    }

    .left {
        background-image: url(./assets/darya-tryfanava-d55fhArDES0-unsplash.jpg);
        background-color: #022302d2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-attachment: fixed;
        min-height: 10dvh;
    }

    .logo {
        width: 6em;
    }

    .logo-container {
        text-align: center;
        margin-top: 5em;
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .first-text-container {
        width: 45%;
        padding: 1em;
        margin: 1em auto 0;
        text-align: center;
    }

    .first-text {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .second-text-container {
        width: 100%;
        margin: 1em auto 0;
        padding: 0 1em;
        text-align: center;
        font-size: 1em;
    }

    .second-text {
        color: rgba(255, 255, 255, 0.621);
        font-size: 1em;
        font-weight: normal;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: .5em;
        justify-content: center;
        margin: 3em 0;
    }

    .btn {
        background-color: #ffffff1a;
        font-size: 13px;
        backdrop-filter: blur(10px);
        border-radius: 6px;
        text-align: center;
        border: 1px solid #ffffffa4;
        padding: .8em;
        display: flex;
        gap: .3em;
    }

    .right {
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        min-height: 70dvh;
    }

    .login {
        border: none;
        width: 50%;
        margin: 5em auto 0;
        padding: 2em;
    }

    .details {
        margin-bottom: 1em;
        color: rgba(0, 0, 0, 0.708);
        font-size: 1em;
    }

    legend {
        font-weight: bold;
        margin-bottom: .6em;
        font-size: 1.4em;
        text-align: left;
    }

    label {
        font-weight: bold;
        margin: 12em 0 0 1.1em;
        font-size: 1em;
    }

    input {
        padding: .8em;
        border: 2px solid rgba(0, 0, 0, 0.363);
        margin-bottom: 1.2em;
        font-size: .9em;
    }

    input,
    .submit {
        width: 20rem;
        border-radius: .5em;
    }

    .submit {
        padding: 1em;
    }

    .errorUsername,
    .userNameLength,
    .errorPassword,
    .passwordNameLength {
        margin-left: 1.2em;
        font-size: .8em;
    }

    .loginMessage {
        position: fixed;
        right: 0;
        left: -1em;
        top: 64em;
        background-color: rgb(25, 156, 53);
        border-radius: .4em;
        width: 36%;
        padding: .7em;
        text-align: center;
        margin: 2em;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.256);
    }

    .login-message {
        font-weight: bold;
        font-size: 1em;
        color: #fff;
    }
}