* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.errorUsername {
    color: red;
    margin-bottom: 1em;
    /* visibility:hidden; */
    display: none;
}

.errorPassword{
    color: red;
    margin-bottom: 1em;
    /* visibility:hidden; */
    display: none;
}

@media (max-width: 555px) {
  
 .split-page {
     display: flex;
     flex-direction: column;
 }

 /* Left */
 .left {
     background-image: url(./assets/darya-tryfanava-d55fhArDES0-unsplash.jpg);
     background-color: #022302d2;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-blend-mode: darken;
     background-attachment: fixed;
 }

 .logo {
     width: 6em;
 }

 .logo-container {
     text-align: center;
     margin-top: 10em;
 }

 h1 {
     color: #54e851;
     font-size: 1.5em;
     text-align: center;
 }

 .first-text-container {
     color: white;
     width: 45%;
     padding: 1em;
     margin: 1em auto 0 auto;
     text-align: center;
 }

 .first-text {
     font-size: 1.4rem;
 }

 .second-text-container {
     color: rgba(255, 255, 255, 0.621);
     width: 100%;
     margin: 1em auto 0 auto;
     padding: 0 1em 0 1em;
     text-align: center;
 }

 .buttons {
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content: center;
    margin: 3em 0 3em 0;
 }

 .btn {
    background-color: #ffffff1a;;
    font-size: 13px;
    backdrop-filter: blur(10px);
    border-radius: 6px;
    color: #ffffff;
    text-align: center;
    border: 1.4px solid #ffffffa4;
    padding: .8em;
    display: flex;
    gap: .3em;
 }


/* Right */
.right {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 70dvh;
}

.login {
    border: none;
    background-color: rgb(242, 241, 241);
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5em auto 0 auto;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 1px 1px 1px 1px #1716162c;   
 }

.details {
    margin-bottom: 1em;
     color:  rgba(0, 0, 0, 0.708);
}

 legend {
    font-weight: bold;
    margin-bottom: .6em;
    font-size: 1.4em;
 }

 label {
    font-weight: bold;
    margin: 12em 0 1em 0;
 }

input {
    padding: .8em;
    border: 2px solid rgba(0, 0, 0, 0.363);
    margin-bottom: 1.2em;
}

 input, .submit {
    width: 20rem;
    border-radius: .5em;
}

.submit {
    background-color: #065606;
    color: #ffff;
    font-weight: bold;
    border: none;
    padding: 1em;
    cursor: pointer;
    margin-top: 1em;
}

.submit:hover {
     background-color: #176117;
     transition: .5s ease-in-out;
}

}