:root {
    --primary: white;
    --secondary: #022302d2;
    --tertiary: black;
    --final: rgba(255, 255, 255, 0.776);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

[class='split-page'] {
    display: flex;

}

/* Left */
[class="left"] {
    background-image: url(./assets/darya-tryfanava-d55fhArDES0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--secondary);
    background-blend-mode: darken;
    padding: 100px;
    min-height: 100vh;
}

/* Logo */
.logo {
    width: 90%;
    margin: 0 auto;
}

.logo-container {
    border-radius: 25%;
    width: 100px;
    margin: 0;
    padding: 10px;
}

/* Heading Left */
h1 {
    font-size: large;
    color: rgb(143, 229, 142);
}

.first-text {
    width: 50%;
    color: var(--primary);
    font-weight: bold;
    font-size: 60px;
}

.second-text-container {
    margin: 10px 0;
}

.second-text {
    width: 79%;
    color: var(--final);
}

/* Buttons */
.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.224);
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* Right */
[class='right'] {
    background-color: rgba(0, 0, 255, 0.041);
    padding: 25px;
    min-height: 100vh;
}

.login {
    background-color: var(--primary);
    border: none;
    display: block;
    margin: 25% auto;
    padding: 25px 10px 25px 10px ;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.516);
}

legend {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
}

.details {
    color:  rgba(0, 0, 0, 0.708);
    padding-bottom: 10px;
    font-size: small;
}

label {
    color: var(--tertiary);
    font-weight: bold;
    font-size: small;
}

input {
    border: 1px solid rgba(128, 128, 128, 0.484);
    border-radius: 5px;
    width: 95%;
    padding: 9px;
    outline: none;
    margin-bottom: 10px;
}

input:focus {
    transition: 0.3s ease-in-out;
    border: 1px solid rgba(125, 23, 23, 0.484);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.516);
}

.submit {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 10px;
    cursor: pointer;
    width: 95%;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.submit:hover {
    background-color: #022302e9;
    transition: 0.3s ease-in;
    
}